---
http_interactions:
- request:
    method: post
    uri: http://sample.engine.dev:3000/locomotive/api/tokens.json?auth_token=ptok1uWssqDQDCRaRn99
    body:
      encoding: US-ASCII
      string: email=admin%40locomotivecms.com&password=locomotive
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Location:
      - http://sample.engine.dev:3000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"afa53a7fa7513474142441a448f99b47"'
    body:
      encoding: US-ASCII
      string: ! '{"token":"ptok1uWssqDQDCRaRn99"}'
  recorded_at: Thu, 16 May 2013 09:20:11 GMT
- request:
    method: get
    uri: http://sample.engine.dev:3000/locomotive/api/current_site.json?auth_token=ptok1uWssqDQDCRaRn99
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b6ed3bb344c01a233dea353e2621fa3c"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"5194a4b71e66cf781c000433","_id":"5194a4b71e66cf781c000433","created_at":"2013-05-16T09:19:51Z","updated_at":"2013-05-16T09:19:51Z","name":"Sample
        website","locales":["en","fr","nb"],"subdomain":"sample","domains":["sample.example.com","sample.engine.dev"],"domains_without_subdomain":["sample.example.com"],"domain_name":"engine.dev","memberships":[{"id":"5194a4b71e66cf781c000434","_id":"5194a4b71e66cf781c000434","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"5193798f1e66cf7cd9000001","name":"Admin","email":"admin@locomotivecms.com"}],"seo_title":"A
        simple LocomotiveCMS website","meta_keywords":"some meta keywords","meta_description":"some
        meta description"}'
  recorded_at: Thu, 16 May 2013 09:20:11 GMT
- request:
    method: get
    uri: http://sample.engine.dev:3000/locomotive/api/current_site.json?auth_token=ptok1uWssqDQDCRaRn99&locale=fr
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6cb1cf44a1940e79711ba3b57012ed2f"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"5194a4b71e66cf781c000433","_id":"5194a4b71e66cf781c000433","created_at":"2013-05-16T09:19:51Z","updated_at":"2013-05-16T09:19:51Z","name":"Sample
        website","locales":["en","fr","nb"],"subdomain":"sample","domains":["sample.example.com","sample.engine.dev"],"domains_without_subdomain":["sample.example.com"],"domain_name":"engine.dev","memberships":[{"id":"5194a4b71e66cf781c000434","_id":"5194a4b71e66cf781c000434","role":"admin","role_name":"Administrateur","can_update":false,"grant_admin":true,"account_id":"5193798f1e66cf7cd9000001","name":"Admin","email":"admin@locomotivecms.com"}],"seo_title":"Un
        simple LocomotiveCMS site web","meta_keywords":"quelques mots cles","meta_description":"some
        meta description"}'
  recorded_at: Thu, 16 May 2013 09:20:11 GMT
- request:
    method: get
    uri: http://sample.engine.dev:3000/locomotive/api/current_site.json?auth_token=ptok1uWssqDQDCRaRn99&locale=nb
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b6ed3bb344c01a233dea353e2621fa3c"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"5194a4b71e66cf781c000433","_id":"5194a4b71e66cf781c000433","created_at":"2013-05-16T09:19:51Z","updated_at":"2013-05-16T09:19:51Z","name":"Sample
        website","locales":["en","fr","nb"],"subdomain":"sample","domains":["sample.example.com","sample.engine.dev"],"domains_without_subdomain":["sample.example.com"],"domain_name":"engine.dev","memberships":[{"id":"5194a4b71e66cf781c000434","_id":"5194a4b71e66cf781c000434","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"5193798f1e66cf7cd9000001","name":"Admin","email":"admin@locomotivecms.com"}],"seo_title":"A
        simple LocomotiveCMS website","meta_keywords":"some meta keywords","meta_description":"some
        meta description"}'
  recorded_at: Thu, 16 May 2013 09:20:11 GMT
- request:
    method: get
    uri: http://sample.engine.dev:3000/locomotive/api/theme_assets.json?auth_token=ptok1uWssqDQDCRaRn99
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e03e895cbd34de46476e5e834d1dbbed"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5194a4bc1e66cf33a100049e","_id":"5194a4bc1e66cf33a100049e","created_at":"2013-05-16T09:19:56Z","updated_at":"16
        May 09:19","content_type":"font","folder":"fonts","checksum":"6080441fde50c4839c23c79b937f0194","local_path":"chunkfive-webfont.eot","url":"/sites/5194a4b71e66cf781c000433/theme/fonts/chunkfive-webfont.eot","size":"37.5
        KB","raw_size":38434,"can_be_deleted":true},{"id":"5194a4bc1e66cf287200049f","_id":"5194a4bc1e66cf287200049f","created_at":"2013-05-16T09:19:56Z","updated_at":"16
        May 09:19","content_type":"font","folder":"fonts","checksum":"57d0f66913a8c0e172ae3fe78ce36e43","local_path":"chunkfive-webfont.svg","url":"/sites/5194a4b71e66cf781c000433/theme/fonts/chunkfive-webfont.svg","size":"49.4
        KB","raw_size":50602,"can_be_deleted":true},{"id":"5194a4bc1e66cfeb5d0004a0","_id":"5194a4bc1e66cfeb5d0004a0","created_at":"2013-05-16T09:1[...]
