---
title: Layout with 2 columns
is_layout: true
position: 2
---
{% extends layouts/default %}

{% block main %}

.sidebar
  {% block sidebar %}
  {% endblock %}

.content
  {% block content %}
  {% endblock %}

{% endblock %}
