---
title: Default layout
---
!!! XML
!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %title {{ site.name }}

    %meta{ content: "{{ site.meta_description }}", name: "description" }
    %meta{ content: "{{ site.meta_keywords }}", name: "keywords" }

  %body
    {% block main %}
    {% endblock %}