---
http_interactions:
- request:
    method: get
    uri: http://sample.engine.dev:3000/locomotive/api/theme_assets.json?auth_token=ptok1uWssqDQDCRaRn99
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4aeab4a4f80a1c4fe594e811651133a2"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"519382271e66cfaddf0003a8","_id":"519382271e66cfaddf0003a8","created_at":"2013-05-15T12:40:07Z","updated_at":"15
        May 12:40","content_type":"font","folder":"fonts","checksum":"6080441fde50c4839c23c79b937f0194","local_path":"chunkfive-webfont.eot","url":"/sites/519382221e66cf1e8c00033d/theme/fonts/chunkfive-webfont.eot","size":"37.5
        KB","raw_size":38434,"can_be_deleted":true},{"id":"519382271e66cf90870003a9","_id":"519382271e66cf90870003a9","created_at":"2013-05-15T12:40:07Z","updated_at":"15
        May 12:40","content_type":"font","folder":"fonts","checksum":"57d0f66913a8c0e172ae3fe78ce36e43","local_path":"chunkfive-webfont.svg","url":"/sites/519382221e66cf1e8c00033d/theme/fonts/chunkfive-webfont.svg","size":"49.4
        KB","raw_size":50602,"can_be_deleted":true},{"id":"519382271e66cff3660003aa","_id":"519382271e66cff3660003aa","created_at":"2013-05-15T12:4[...]
