---
http_interactions:
- request:
    method: get
    uri: http://sample.engine.dev:3000/locomotive/api/current_site.json?auth_token=ptok1uWssqDQDCRaRn99
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"25c9e36d788e6ece132162ec3c259ddb"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"519382221e66cf1e8c00033d","_id":"519382221e66cf1e8c00033d","created_at":"2013-05-15T12:40:02Z","updated_at":"2013-05-15T12:40:03Z","name":"Sample
        website","locales":["en","fr","nb"],"subdomain":"sample","domains":["sample.example.com","sample.engine.dev"],"domains_without_subdomain":["sample.example.com"],"domain_name":"engine.dev","memberships":[{"id":"519382221e66cf1e8c00033e","_id":"519382221e66cf1e8c00033e","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"5193798f1e66cf7cd9000001","name":"Admin","email":"admin@locomotivecms.com"}],"seo_title":"A
        simple LocomotiveCMS website","meta_keywords":"some meta keywords","meta_description":"some
        meta description"}'
  recorded_at: Wed, 15 May 2013 12:40:08 GMT
recorded_with: VCR 2.4.0
